@import url("https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css");

.team {
    text-decoration: none;
	position: relative;
	width: 100%;
	height: 100vh;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team .team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team .team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.team .center h1{
	color: black;
	font-size: 4rem;
	text-align: center;
}
.team .box{
	padding: 16px;
	background: white;
	border-radius: 15px;
	transition: all .38s ease;
    box-shadow: 2px 4px 19px 7px rgba(0,0,0,0.47);
}
.team .box h3{
	font-size: 23px;
	font-weight: 600;
	color: black;
	margin-bottom: 8px;
}
.team .box h5{
	font-size: 15px;
	font-weight: 600;
	color: black;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.team .icons i{
	display: inline-block;
	color: black;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.team .icons i:hover{
	transform: scale(1.2);
}
.team .box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1240px){
	.team {
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.team .center h1{
		font-size: 3.2rem;
	}
}